/* css for the cards displayed sa dashboard and my posts pages */

:root {
    /* ===== PRIMARY COLOR (BRAND) ===== */
    --color-primary: #2289e6;     /* brilliant azure — buttons, header, footer, logo */


    /* ===== FOR BUTTONS AND POP-UPS ===== */
    --color-ui-accent: #afdccd;   /* pearl aqua — dashboard buttons + hover */
    --color-ui-surface: #f8f8f8;  /* grey — popups, dropdown, sidebar, footer text */

     /* ===== STATUS COLORS ===== */
    --lost-color:    #ff0000;
    --found-color:   #2289e6;
    --claimed-color: #558d57;
    --pending-color: #ffa629;
}

.card {
    display: flex !important;
    flex-direction: row !important;
}

.card img {
    height: 150px;
    width: 150px;
}