/* css for the cards displayed sa dashboard and my posts pages */

:root {
    /* ===== PRIMARY COLOR (BRAND) ===== */
    --color-primary: #2289e6;     /* brilliant azure — buttons, header, footer, logo */


    /* ===== FOR BUTTONS AND POP-UPS ===== */
    --color-ui-accent: #afdccd;   /* pearl aqua — dashboard buttons + hover */
    --color-ui-surface: #f8f8f8;  /* grey — popups, dropdown, sidebar, footer text */

     /* ===== STATUS COLORS ===== */
    --lost-color:    #ff0000;
    --found-color:   #2289e6;
    --claimed-color: #558d57;
    --pending-color: #ffa629;
}

.card {
    display: flex !important;
    flex-direction: row !important;
    height: auto !important;
    width: auto !important;
    overflow: hidden !important;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    border-color: #ddd;
    cursor: pointer;
}

.card:has(.modal.show) {
    transform: none !important;
}

.card img {
    height: 100%;
    width: 150px;
    object-fit: cover;
}

@media (min-width: 768px){
    .card {
        display: block !important;
        width: 100% !important;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}