/* css for the cards displayed sa dashboard and my posts pages */

:root {
    /* ===== PRIMARY COLOR (BRAND) ===== */
    --color-primary: #2289e6;     /* brilliant azure — buttons, header, footer, logo */


    /* ===== FOR BUTTONS AND POP-UPS ===== */
    --color-ui-accent: #afdccd;   /* pearl aqua — dashboard buttons + hover */
    --color-ui-surface: #f8f8f8;  /* grey — popups, dropdown, sidebar, footer text */
        --gray-text: #7b7979;

     /* ===== STATUS COLORS ===== */
    --lost-color:    #ff0000;
    --found-color:   #2289e6;
    --claimed-color: #558d57;
    --pending-color: #ffa629;
}

.card {
    display: flex !important;
    flex-direction: row !important;
    height: auto !important;
    width: auto !important;
    overflow: hidden !important;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* ============================= */
/* NOTIFICATIONS CARD DITO  */

.notificationCard {
    transition: 0.2s ease;
    border-left: 8px solid var(--color-primary) !important;
    border-radius: 0 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
.notificationCard:hover {
    background: #f6faff;
    transform: scale(1.01);
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    border-color: #ddd;
    cursor: pointer;
}

.card:has(.modal.show) {
    transform: none !important;
}

.card img {
    height: 100%;
    width: 150px;
    object-fit: cover;
}

.modal-body img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2vh;
}

.view{
    width: 15px !important;
    margin: 0 2px 4px 4px !important;
}

.badges{
    display:flex !important;
    flex-direction: row !important;
}

.badge{
    width: fit-content !important;
}

/* para to sa mga badge ng status */
.badge.bg-lost { background: var(--lost-color) !important; }
.badge.bg-found { background: var(--found-color) !important; }
.badge.bg-claimed { background: var(--claimed-color) !important; }
.badge.bg-matched { background: #d9cd4c !important; }

/* ito badge sa category */
.category {
    color: rgb(103, 103, 103) !important;
    background-color: #f8f8f8;
    border: 1px solid rgb(124, 124, 124);
}

.card-text strong, .details strong{
    color: var(--gray-text);
}

.field{
    margin: 10px 0 10px 0;
}

.card-text{
    color: black;
}

.card-text 

/* para sa no items found */
.noItemFound {
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px){
    .card {
        display: block !important;
        width: 100% !important;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}