/* Reusable header, navigation and buttons css for user/admin */

:root {
    /* ===== PRIMARY COLOR (BRAND) ===== */
    --color-primary-gradient: linear-gradient(to right,  #ceede3,#afdccd, #2289e6);
    --blue-primary: #2289e6;

    /* ===== FOR BUTTONS AND POP-UPS ===== */
    --button: #afdccd;   /* pearl aqua — dashboard buttons + hover */
    --button-hover: #ceede3;
    --bg: #f8f8f8;  /* grey — popups, dropdown, sidebar, footer text */
    --gray-text: #7b7979;

     /* ===== STATUS COLORS ===== */
    --lost-color:    #ff0000;
    --found-color:   #2289e6;
    --claimed-color: #558d57;
    --pending-color: #ffa629;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar-brand {
    font-size: 20px !important;
}

.find{
    color: var(--blue-primary);
}

nav{
    background: var(--color-primary-gradient);
}

.navbar-toggler:focus,
.navbar-toggler:active{
    outline: none !important;
    box-shadow: none !important;
}

#postItems {
    background-color: var(--blue-primary);
    width: 100%;
}

#postItems:focus,
#postItems:active{
    outline: none !important;
    box-shadow: none !important;
}

button.searchBtn {
    background-color: var(--blue-primary) !important; 
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
}

.search-filter-container{
    border: 1px solid #a9a8a8;
    border-radius: 8px;
    padding: 10px;
}

#filterStatus, #filterCategory {
    border-color: var(--blue-primary); 
    padding: 8px 12px !important;
    border-radius: 8px;
    cursor: pointer;
}

/* button 'to para sa "see details" */
#seeDetails {
    color: black;
    background-color: var(--button);
    border: none;
}

#seeDetails:hover {
    background-color: var(--button-hover);
}

.offcanvas {
    width:200px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.offcanvas-body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

.offcanvas-body a{
    text-decoration: none;
    color: black;
}

.logout{
    color: var(--lost-color) !important;
}

.offcanvas-body a{
    margin: 5px 0 5px 0
}

/* para sa close button ng alert message */
.alert .btn-close {
    float: right;
}

.subtext {
    color: var(--gray-text);
}

.search-filter-container {
    display: flex;
    flex-wrap: wrap;
}

.form-select option{
    background-color: var(--bg) !important;
    border-radius: 8px !important;
}

.form-select option:hover{
    background-color: var(--button) !important;
}